name: CV DevOps Project CI/CD
on:
    push:
        branches: [ dev, main]
        paths:
            - '**.tf'
            - '**.py'
            - '.github/workflows/**'
    pull_request:
        branches: [ main, dev ]

    workflow_dispatch:


permissions:
  id-token: write
  contents: read
  pull-requests: write


env:
  PYTHON_VERSION: 3.12
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache

jobs:
  check_python:
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
        cache: 'pip'
        cache-dependency-path: 'src/lambda/requirements.txt'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r src/lambda/requirements.txt

    - name: Run tests
      run: |
        python -m pytest src/lambda/ --json-report --json-report-file=pytest-report.json || true
      continue-on-error: true

    - name: Lint with flake8
      run: python -m flake8 src/lambda/ --format=json --output-file=flake8-report.json || true
      continue-on-error: true
    
    - name: Typing check mypy
      run: python -m mypy src/lambda/ --ignore-missing-imports
      continue-on-error: true

    - name: Bandit scan
      run: python -m bandit -r src/lambda/ -f json -o bandit-scan.json || true
      continue-on-error: true

    - name: Dodgy scan
      run: python -m dodgy src/lambda/
      continue-on-error: true

    - name: Safety scan
      run: python -m safety check --json > safety-scan.json || true
      continue-on-error: true

    - name: Upload Artifact with potencial vulnerabilities
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: Security Scans Python
        path: |
          bandit-scan.json
          safety-scan.json
          pytest-report.json
          flake8-report.json
        retention-days: 7


  check_terraform:
      if: github.event_name == 'push' || github.event_name == 'pull_request'
      runs-on: ubuntu-latest
      needs: check_python
      timeout-minutes: 10
      steps:
      - uses: actions/checkout@v5
      - uses: hashicorp/setup-terraform@v3

      - name: Permissions for ACT to run CI/CD locally
        run: chmod +x "$TERRAFORM_CLI_PATH/terraform" || true

      - name: Setup cache directory
        run: |
          mkdir -p {{ env.TF_PLUGIN_CACHE_DIR }}

      - name: Cache Terraform
        uses: actions/cache@v4
        with: 
          path: | 
            ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: |
            ${{ runner.os }}-terraform-
            ${{ runner.os }}-

      - name: Configure Credetials AWS with OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
            role-to-assume: arn:aws:iam::907253920314:role/GitHubActions
            aws-region: eu-central-1

      - name: Initialize Terraform
        run: terraform init

      - name: Check Terraform formatting
        run: terraform fmt -check -recursive -diff

      - name: Validate Terraform
        run: terraform validate

      - name: Detect potencial problems
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          soft_fail: true

      - name: Terraform Plan
        id: plan
        run: |
          terraform plan -input=false -no-color -out=plan.tfplan
          terraform show -no-color plan.tfplan > terraform_plan.txt
          echo "plan<<EOF" >> $GITHUB_OUTPUT
          cat terraform_plan.txt >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

          
      - name: Upload Artifact with terraform plan
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: tf-plan-artifact
          path: |
            plan.tfplan
          retention-days: 7

      - name: Plan output to PR
        uses: actions/github-script@v8
        if: github.event_name == 'pull_request'
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo
              body: '**Terraform Plan**\n${{ steps.plan.outputs.plan }}\n'
              });

  deploy_app:
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
        - uses: actions/checkout@v5
        - uses: hashicorp/setup-terraform@v3

        - name: Configure Credetials AWS with OIDC
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::907253920314:role/GitHubActions
            aws-region: eu-central-1

        - name: Download Plan Artifact
          uses: actions/download-artifact@v4
          with:
            name: tf-plan-artifact
            path: .

        - name: Terraform init
          run: terraform init

        - name: Terraform apply
          run: terraform apply -out="plan.tfplan"--auto-approve -input=false

        - name: Deploy OK Slack message
          uses: slackapi/slack-github-action@v1.26.0
          with:
            payload: '{"text": "Terraform apply on main branch! - ✅"}'
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}


        - name: Deploy FAIL Slack message
          uses: slackapi/slack-github-action@v1.26.0
          if: failure()
          with:
            payload: '{"text": "Terraform apply failed - check logs! - ❌"}'
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          
        




    
            


